.fade-enter {
	opacity: 0;
	transform: translateY(100vh);
}
.fade-enter-active {
	opacity: 1;
	transform: translateY(0%);
}
.fade-exit {
	opacity: 1;
	transform: translateY(0%);
}
.fade-exit-active {
	opacity: 0;
	transform: translateY(-100vh);
}
.fade-enter-active,
.fade-exit-active {
	transition: opacity 800ms, transform 800ms;
}
